Source: af-alg-rr
Priority: optional
Maintainer: unknown <privacy@not.given>
Build-Depends:
 debhelper (>= 9), dpkg-dev (>= 1.16.1~), dh-autoreconf,
 autoconf (>= 2.68),
 libtool (>= 2.2.6),
 pkg-config,
 libssl-dev (>= 1.0.0c)
Standards-Version: 3.9.5
Section: libs
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mxOBS/deb-pkg_af-alg-rr.git
#Vcs-Browser: https://github.com/mxOBS/deb-pkg_af-alg-rr.git

Package: af-alg-rr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: af_alg engine for openssl
 Provides accelerated algorithms using af_alg to openssl.
